<html lang="ja">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduShare</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/detail.css">
</head>
<body>
    
    <!-- ヘッダー -->
    <header>
        <div class="logo">
            <img src="../static/images/logo.png">
            <button class="close-button" onclick="window.history.back();">×</button>
        </div>
    </header>
    <!-- メインコンテンツ (デモ用) -->
    {% set category_map = {"1": "AI・IT・Iot・情報処理系", "2": "ゲームプログラミング系", "3": "アニメ制作・アニメーター・キャラクターデザイン系", "4": "音・楽曲制作・音響効果・ゲームサウンド系", "5": "建築・インテリアデザイン系",
                            "6": "ロボット制御・センサー・電子回路系", "7": "eスポーツイベント企画・運営系", "8": "声優・タレント・ナレーター・俳優系", "9": "グラフィック・Webデザイン・動画系", "10": "国際コミュニケーション系",
                            "11": "ビジネス・パソコン活用・事務・企画・営業販売系", "12": "ゲームCG・3DCG映像作成系", "13": "音響・照明・映像・レコーディング系", "14": "製品デザイン・機械設計・3次元CAD", "15": "日本語系"} %}
    {% set subject_map = {
        "1": {  "1": "アルゴリズム",
                "2": "ＡＩリテラシー",
                "3": "処理演習",
                "4": "プログラム設計演習",
                "5": "ＩＣＴ概論",
                "6": "アプリケーション",
                "7": "Ｃ言語Ⅰ",
                "8": "プログラミングⅠ",
                "9": "ＩＣＴ特論",
                "10": "Ｃ言語Ⅱ",
                "11": "資格対策Ⅰ",
                "12": "就職対策",
                "13": "プログラミングⅡ",
                "14": "Ｗｅｂ開発",
                "15": "企画Ⅰ",
                "16": "制作演習",
                "17": "データリテラシ",
                "18": "デザイン",
                "19": "ＩｏＴ開発",
                "20": "サーバ・ネットワーク",
                "21": "ＡＩ概論",
                "22": "ロボット開発",
                "23": "キャリアデザイン",
                "24": "データベース技術",
                "25": "ネットワーク技術",
                "26": "資格対策Ⅱ",
                "27": "ドキュメント技法",
                "28": "プログラミングⅢ",
                "29": "ＬｉｎｕｘⅠ",
                "30": "ＩｏＴ基礎",
                "31": "制作演習Ⅰ",
                "32": "プログラミングⅣ",
                "33": "ＬｉｎｕｘⅡ",
                "34": "ＡＩ資格",
                "35": "Ｃ＃Ⅰ",
                "36": "ネットワーク構築Ⅰ",
                "37": "Ｃ＃Ⅱ",
                "38": "ネットワーク構築Ⅱ",
                "39": "制作演習Ⅱ",
                "40": "プロジェクト管理",
                "41": "ＩｏＴ演習",
                "42": "Ｗｅｂアプリケーション開発",
                "43": "システム設計Ⅰ",
                "44": "システム開発演習",
                "45": "システム設計Ⅱ",
                "46": "ＡＩ特論",
                "47": "アプリケーションサーバ構築Ⅰ",
                "48": "Ｗｅｂプログラミング",
                "49": "ＡＩ活用",
                "50": "システム設計特論Ⅰ",
                "51": "セキュリティ特論Ⅰ",
                "52": "アプリケーションサーバ構築Ⅱ",
                "53": "強化学習",
                "54": "システム設計特論Ⅱ",
                "55": "スマートフォンアプリ開発",
                "56": "セキュリティ特論Ⅱ",
                "57": "総合演習",
                "58": "総合演習ⅠＡ",
                "59": "総合演習ⅠＢ",
                "60": "総合演習ⅡＡ",
                "61": "総合演習ⅡＢ",
                "62": "その他"
        },
        "2": {  "1": "ＩＴ基礎",
                "2": "Ｗｅｂデザイン基礎",
                "3": "ＡＩリテラシーⅠ",
                "4": "ＥｘｃｅｌＶＢＡ",
                "5": "キャリアデザインⅠ",
                "6": "ゲーム開発Ⅰ",
                "7": "Ｃ＋＋",
                "8": "２Ｄゲームプログラミング",
                "9": "ゲーム開発Ⅱ",
                "10": "Ｌｉｎｕｘ運用管理",
                "11": "ＩＴ応用",
                "12": "Ｗｅｂデザイン応用",
                "13": "ＡＩ活用基礎",
                "14": "ＸＲプログラミング",
                "15": "Ｏｆｆｉｃｅ活用",
                "16": "キャリア開発",
                "17": "キャリアデザインⅡ",
                "18": "ゲームアルゴリズム",
                "19": "数学",
                "20": "３ＤゲームプログラミングⅠ",
                "21": "データベース",
                "22": "デザインⅠ",
                "23": "Ｐｙｔｈｏｎ",
                "24": "ＰＧ＆ＩＴ演習",
                "25": "プログラミング演習",
                "26": "ＸＲプログラミング",
                "27": "ゲーム開発Ⅲ",
                "28": "ネットワーク",
                "29": "ＩＴ演習",
                "30": "ゲームエンジン",
                "31": "作品制作",
                "32": "３ＤゲームプログラミングⅡ",
                "33": "デザインⅡ",
                "34": "Ｐｙｔｈｏｎ演習",
                "35": "プロジェクト演習",
                "36": "ＸＲプログラミング演習",
                "37": "技術研究",
                "38": "ゲーム開発Ⅳ",
                "39": "ゲーム開発演習",
                "40": "その他"
        },
        "3": {  "1": "1年次:アニメ基礎Ⅰ",
                "2": "1年次:アニメ制作Ⅰ",
                "3": "1年次:撮影Ⅰ",
                "4": "1年次:デッサンⅠ",
                "5": "1年次:動画Ⅰ",
                "6": "1年次:ペイントⅠ",
                "7": "2年次:アニメ基礎Ⅱ",
                "8": "2年次:アニメ制作Ⅱ",
                "9": "2年次:ＡＩリテラシー",
                "10": "2年次:デッサンⅡ",
                "11": "2年次:動画Ⅱ",
                "12": "2年次:動画Ⅲ",
                "13": "2年次:ペイントⅡ",
                "14": "その他"
        },
        "4": {  "1": "1年次:ＡＩリテラシー",
                "2": "1年次:キャリアデザイン",
                "3": "1年次:シンセサイズ",
                "4": "1年次:聴能形成",
                "5": "1年次:ＤＡＷ演習Ａ",
                "6": "1年次:ＤＡＷ演習Ｂ",
                "7": "1年次:プレゼンテーションⅠ",
                "8": "1年次:音響効果Ａ",
                "9": "1年次:基礎演習",
                "10": "1年次:作編曲論",
                "11": "1年次:フォーリー演習",
                "12": "1年次:インターンシップ",
                "13": "1年次:ＰＣ演習",
                "14": "1年次:ミックスダウン演習",
                "15": "1年次:音響効果Ｂ",
                "16": "1年次:作編曲論応用",
                "17": "2年次:制作演習Ａ",
                "18": "2年次:制作演習Ｂ",
                "19": "2年次:プレゼンテーションⅡ",
                "20": "2年次:立体音響研究",
                "21": "2年次:インタラクティブサウンド",
                "22": "2年次:ＭＡ演習",
                "23": "2年次:クリエイティブワーク",
                "24": "2年次:コラボレーション",
                "25": "2年次:作編曲演習",
                "26": "2年次:商業音楽制作",
                "27": "2年次:整音技術",
                "28": "2年次:卒業制作",
                "29": "2年次:ソングライティング",
                "30": "その他"
        },
        "5": {  "1": "1年次:建築ＣＧ",
                "2": "1年次:ＣＡＤ設計製図Ⅰ",
                "3": "1年次:ＡＩリテラシー",
                "4": "1年次:基礎製図",
                "5": "1年次:設計演習Ⅰ",
                "6": "1年次:建築計画Ⅰ",
                "7": "1年次:建築材料Ⅰ",
                "8": "1年次:建築一般構造",
                "9": "1年次:設計演習Ⅱ",
                "10": "1年次:建築法規Ⅰ",
                "11": "1年次:建築生産Ⅰ",
                "12": "1年次:構造力学Ⅰ",
                "13": "2年次:ＣＡＤ設計製図Ⅱ",
                "14": "2年次:設計演習Ⅲ",
                "15": "2年次:建築計画Ⅱ",
                "16": "2年次:建築計画Ⅲ",
                "17": "2年次:環境工学",
                "18": "2年次:建築設備",
                "19": "2年次:建築材料Ⅱ",
                "20": "2年次:建築法規Ⅱ",
                "21": "2年次:建築生産Ⅱ",
                "22": "2年次:構造力学Ⅱ",
                "23": "2年次:設計演習Ⅳ",
                "24": "その他"
        },
        "6": {  "1": "1年次:アナログ設計",
                "2": "1年次:ＡＩリテラシー",
                "3": "1年次:基礎教養",
                "4": "1年次:センサ技術",
                "5": "1年次:ディジタル設計",
                "6": "1年次:電気数学",
                "7": "1年次:マイコン基礎",
                "8": "1年次:マイコン制御Ⅰ",
                "9": "1年次:ロボット制御基礎",
                "10": "2年次:ＨＤＬ",
                "11": "2年次:制御工学",
                "12": "2年次:製作演習",
                "13": "2年次:設計演習",
                "14": "2年次:マイコン制御Ⅱ",
                "15": "その他"
        },
        "7": {  "1": "1年次:esports企画運営Ⅰ",
                "2": "1年次:esports企画運営Ⅱ",
                "3": "1年次:映像演習",
                "4": "1年次:AIリテラシーⅠ",
                "5": "1年次:コンピュータリテラシーⅠ",
                "6": "2年次:esports企画運営Ⅲ",
                "7": "2年次:esports企画運営Ⅳ",
                "8": "2年次:イベント演習",
                "9": "その他"
        },
        "8": {  "1": "1年次:アフレコⅠ",
                "2": "1年次:イベント演習Ⅰ",
                "3": "1年次:ＡＩリテラシー",
                "4": "1年次:ＭＣ演習Ⅰ",
                "5": "1年次:演劇演習Ⅰ",
                "6": "1年次:ダンスⅠ",
                "7": "1年次:ＤＪ／ナレーションⅠ",
                "8": "1年次:ＰＣ演習Ⅰ",
                "9": "1年次:ヴォイストレーニングⅠ",
                "10": "1年次:ヴォーカルⅠ",
                "11": "1年次:基礎演習",
                "12": "1年次:キャリアデザイン",
                "13": "2年次:アフレコⅡ",
                "14": "2年次:イベント演習Ⅱ",
                "15": "2年次:ＭＣ演習Ⅱ",
                "16": "2年次:演劇演習Ⅱ",
                "17": "2年次:進路対策",
                "18": "2年次:ダンスⅡ",
                "19": "2年次:ＤＪ／ナレーションⅡ",
                "20": "2年次:ＰＣ演習Ⅱ",
                "21": "2年次:ヴォイストレーニングⅡ",
                "22": "2年次:ヴォーカルⅡ",
                "23": "その他"
        },
        "9": {  "1": "1年次:ＷｅｂコーディングⅠ",
                "2": "1年次:Ｗｅｂ作品制作Ⅰ",
                "3": "1年次:ＷｅｂデザインⅠ",
                "4": "1年次:ＷｅｂリテラシーⅠ",
                "5": "1年次:エディトリアルデザインⅠ",
                "6": "1年次:グラフィックデザインⅠ",
                "7": "1年次:情報デザインⅠ",
                "8": "1年次:タイポグラフィーⅠ",
                "9": "1年次:ＤＴＰ講義Ⅰ",
                "10": "1年次:デザイン演習Ⅰ",
                "11": "1年次:デザイン研究Ⅰ",
                "12": "1年次:ＷｅｂリテラシーⅡ",
                "13": "1年次:エディトリアルデザインⅡ",
                "14": "1年次:グラフィックデザインⅡ",
                "15": "1年次:ＤＴＰ講義Ⅱ",
                "16": "1年次:ＷｅｂコーディングⅡ",
                "17": "1年次:Ｗｅｂ作品制作Ⅱ",
                "18": "1年次:ＷｅｂデザインⅡ",
                "19": "1年次:広告デザインⅠ",
                "20": "1年次:情報デザインⅡ",
                "21": "1年次:タイポグラフィーⅡ",
                "22": "1年次:デザイン演習Ⅱ",
                "23": "1年次:デザイン研究Ⅱ",
                "24": "1年次:動画企画Ⅰ",
                "25": "1年次:動画作品制作Ⅰ",
                "26": "1年次:動画撮影Ⅰ",
                "27": "1年次:動画編集Ⅰ",
                "28": "1年次:ビジュアルデザインⅠ",
                "29": "2年次:ＡＩリテラシー",
                "30": "2年次:情報デザインⅢ",
                "31": "2年次:動画制作演習Ⅰ",
                "32": "2年次:卒業制作Ⅰ",
                "33": "2年次:ＷｅｂコーディングⅢ",
                "34": "2年次:Ｗｅｂ作品制作Ⅲ",
                "35": "2年次:ＷｅｂデザインⅢ",
                "36": "2年次:エディトリアルデザインⅢ",
                "37": "2年次:グラフィックデザインⅢ",
                "38": "2年次:広告デザインⅡ",
                "39": "2年次:作品制作Ⅰ",
                "40": "2年次:タイポグラフィーⅢ",
                "41": "2年次:ＤＴＰ講義Ⅲ",
                "42": "2年次:デザイン演習Ⅲ",
                "43": "2年次:動画企画Ⅱ",
                "44": "2年次:動画撮影Ⅱ",
                "45": "2年次:動画配信Ⅰ",
                "46": "2年次:動画編集Ⅱ",
                "47": "2年次:ビジュアルデザインⅡ",
                "48": "2年次:モーションタイポグラフィーⅠ",
                "49": "2年次:ＷｅｂコーディングⅣ",
                "50": "2年次:Ｗｅｂ作品制作Ⅳ",
                "51": "2年次:ＷｅｂデザインⅣ",
                "52": "2年次:Ｗｅｂデザイン基礎Ⅰ",
                "53": "2年次:ＷｅｂプログラミングⅠ",
                "54": "2年次:エディトリアルデザインⅣ",
                "55": "2年次:広告デザインⅢ",
                "56": "2年次:作品制作Ⅱ",
                "57": "2年次:情報デザインⅣ",
                "58": "2年次:タイポグラフィーⅣ",
                "59": "2年次:デザイン演習Ⅳ",
                "60": "2年次:動画企画Ⅲ",
                "61": "2年次:動画作品制作Ⅱ",
                "62": "2年次:動画撮影Ⅲ",
                "63": "2年次:動画配信Ⅱ",
                "64": "2年次:ビジュアルデザインⅢ",
                "65": "その他"
        },
        "10": { "1": "1年次:キャリアデザインⅠ",
                "2": "1年次:コミュニケーション技法Ⅰ",
                "3": "1年次:コンピュータ演習Ⅰ",
                "4": "1年次:日本語能力試験対策Ⅰ",
                "5": "1年次:ビジネス演習Ⅰ",
                "6": "2年次:キャリアデザインⅡ",
                "7": "2年次:コミュニケーション技法Ⅱ",
                "8": "2年次:コンピュータ演習Ⅱ",
                "9": "2年次:日本語能力試験対策Ⅱ",
                "10": "2年次:ビジネス演習Ⅱ",
                "11": "その他"
        },
        "11": { "1": "1年次:コミュニケーション技法",
                "2": "1年次:ビジネス・キャリア",
                "3": "1年次:アカウンティングⅠ",
                "4": "1年次:ＥＵＣ概論Ⅰ",
                "5": "1年次:コンピュータ・リテラシⅠ",
                "6": "1年次:データリテラシーⅠ",
                "7": "1年次:ＰＢＬ実践Ⅰ",
                "8": "1年次:ビジネスデザインⅠ",
                "9": "1年次:ビジネスマナーⅠ",
                "10": "1年次:プレゼンテーション演習Ⅰ",
                "11": "1年次:アカウンティングⅡ",
                "12": "1年次:ＥＵＣ概論Ⅱ",
                "13": "1年次:コンピュータ・リテラシⅡ",
                "14": "1年次:データリテラシーⅡ",
                "15": "1年次:ＰＢＬ実践Ⅱ",
                "16": "1年次:ビジネスデザインⅡ",
                "17": "1年次:ビジネスマナーⅡ",
                "18": "1年次:プレゼンテーション演習Ⅱ",
                "19": "2年次:ＡＩリテラシー",
                "20": "2年次:ビジネスコミュニケーション",
                "21": "2年次:ＩＣＴリテラシーⅠ",
                "22": "2年次:ＩＴビジネス概論Ⅰ",
                "23": "2年次:課題研究",
                "24": "2年次:コンピュータ実践Ⅰ",
                "25": "2年次:ビジネス実践Ⅰ",
                "26": "2年次:ビジネスプレゼンテーションⅠ",
                "27": "2年次:ＩＣＴリテラシーⅡ",
                "28": "2年次:ＩＴビジネス概論Ⅱ",
                "29": "2年次:コンピュータ実践Ⅱ",
                "30": "2年次:卒業制作",
                "31": "2年次:ビジネス実践Ⅱ",
                "32": "2年次:ビジネスプレゼンテーションⅡ",
                "33": "その他"
        },
        "12": { "1": "1年次:３ＤＣＧアニメーションⅠ",
                "2": "1年次:３ＤＣＧアニメーションⅡ",
                "3": "1年次:３ＤＣＧ概論",
                "4": "1年次:３ＤＣＧ質感設定",
                "5": "1年次:３ＤＣＧ総合演習",
                "6": "1年次:３ＤＣＧモデリングⅠ",
                "7": "1年次:デジタル制作",
                "8": "1年次:デッサンⅠ",
                "9": "1年次:編集技法Ⅰ",
                "10": "2年次:アナログアニメーション演習",
                "11": "2年次:ＡＩリテラシー",
                "12": "2年次:作品研究",
                "13": "2年次:３ＤＣＧ表現",
                "14": "2年次:３ＤＣＧモデリングⅡ",
                "15": "2年次:背景モデリング",
                "16": "2年次:編集技法Ⅱ",
                "17": "2年次:ポートフォリオ演習",
                "18": "2年次:ライティング演習",
                "19": "その他"
        },
        "13": { "1": "1年次:ＡＩリテラシー",
                "2": "1年次:ステージワークⅠ",
                "3": "1年次:電気工学",
                "4": "1年次:ＰＣ演習Ａ",
                "5": "1年次:ＰＣ演習Ｂ",
                "6": "1年次:ビジュアルワークⅠ",
                "7": "1年次:ライティングⅠ",
                "8": "1年次:基礎演習",
                "9": "1年次:舞台基礎",
                "10": "1年次:レコーディングⅠＡ",
                "11": "1年次:映像概論",
                "12": "1年次:キャリアデザインⅠ",
                "13": "1年次:制作演習Ⅰ",
                "14": "1年次:クリエイティブワークⅠ",
                "15": "1年次:レコーディングⅠＢ",
                "16": "2年次:イベント制作",
                "17": "2年次:映像演習",
                "18": "2年次:音楽研究",
                "19": "2年次:キャリアデザインⅡ",
                "20": "2年次:ＣＡＤ演習",
                "21": "2年次:制作演習Ⅱ",
                "22": "2年次:卒業制作",
                "23": "2年次:ＭＡ演習",
                "24": "2年次:クリエイティブワークⅡ",
                "25": "2年次:ステージワークⅡ",
                "26": "2年次:整音技術",
                "27": "2年次:レコーディングⅡ",
                "28": "その他"
        },
        "14": { "1": "1年次:機械設計Ⅰ",
                "2": "1年次:コンセプトワークⅠ",
                "3": "1年次:３次元ＣＡＤ設計Ⅰ",
                "4": "1年次:３次元ＣＡＤデザインⅠ",
                "5": "1年次:制作演習Ⅰ",
                "6": "1年次:製品企画Ⅰ",
                "7": "1年次:製品設計Ⅰ",
                "8": "1年次:プロダクトデザインⅠ",
                "9": "2年次:ＡＩリテラシー",
                "10": "2年次:機械設計Ⅱ",
                "11": "2年次:コンセプトワークⅡ",
                "12": "2年次:３次元ＣＡＤ設計Ⅱ",
                "13": "2年次:３次元ＣＡＤデザインⅡ",
                "14": "2年次:制作演習Ⅱ",
                "15": "2年次:製品企画Ⅱ",
                "16": "2年次:製品設計Ⅱ",
                "17": "2年次:プロダクトデザインⅡ",
                "18": "その他"
        },
        "15": { "1": "1年次:日本語初級聴解",
                "2": "1年次:日本語初級会話",
                "3": "1年次:日本語初級読解",
                "4": "1年次:日本語初級作文",
                "5": "1年次:日本語初級文法",
                "6": "1年次:日本語初級文字・語彙",
                "7": "1年次:日本語中級聴解",
                "8": "1年次:日本語中級会話",
                "9": "1年次:日本語中級読解",
                "10": "1年次:日本語中級作文",
                "11": "1年次:日本語中級文法",
                "12": "1年次:日本語中級文字・語彙",
                "13": "1年次:演習Ⅰ",
                "14": "2年次:日本語中級聴解",
                "15": "2年次:日本語中級会話",
                "16": "2年次:日本語中級読解",
                "17": "2年次:日本語中級作文",
                "18": "2年次:日本語中級文法",
                "19": "2年次:日本語中級文字・語彙",
                "20": "2年次:日本語上級Ⅰ聴解",
                "21": "2年次:日本語上級Ⅰ会話",
                "22": "2年次:日本語上級Ⅰ読解",
                "23": "2年次:日本語上級Ⅰ小論文",
                "24": "2年次:日本語上級Ⅰ文法",
                "25": "2年次:日本語上級Ⅰ文字・語彙",
                "26": "2年次:日本語上級Ⅱ聴解",
                "27": "2年次:日本語上級Ⅱ会話",
                "28": "2年次:日本語上級Ⅱ読解",
                "29": "2年次:日本語上級Ⅱ小論文",
                "30": "2年次:日本語上級Ⅱ文法",
                "31": "2年次:日本語上級Ⅱ文字・語彙",
                "32": "2年次:演習Ⅱ",
                "33": "その他"
        }
    } %}
    {% set genre_map = {"1": "参考書", "2": "問題集", "3": "教科書", "4": "機材", "5": "その他"} %}
    {% set condition_map = {"1": "未開封", "2": "非常に良い", "3": "良い", "4": "傷あり", "5": "汚れあり", "6": "傷と汚れあり", "7": "ジャンク品"} %}
    <main>
        <p>保有ポイント：{{ point }}</p>
        <div class="back">
        </div>
        <!-- 表示 -->
        <div class="post">
            <div class="left-content">
                <!-- 画像の表示 -->
                <div class="image">
                    <img src="{{post.image_path}}" alt="{{ post.item_name }}">
                </div>
            </div>
            <div class="right-content">
                <h5>教材名</h5>
                <div class="name section">
                    <h1>{{ post.item_name }}</h1>
                </div>
                <h5>教材の説明</h5>   
                <div class="post-text section">
                    <p>{{ post.post_text }}</p>
                </div>
                <h5>教材の情報</h5>
                <div class="condition section">
                    {% set category = post['category'] | string %}
                    {% set subject = post['subject'] | string %}
                    <p>カテゴリー： {{ category_map.get(post['category'] | string, '不明') }}</p>
                    <p>科目： {{ subject_map.get(category, {}).get(subject, "不明") }}</p>
                    <p>分類： {{ genre_map.get(post['genre'] | string, '不明') }}</p>
                    <p>商品状態： {{ condition_map.get(post['condition'] | string, '不明') }}</p>
                </div>
            </div>
        </div>
    </main>

    
    {% if message_display == False %}
        <!-- フッター -->
        <footer>
            <!-- 自分が投稿した教材かどうか -->
            {% if post.user_id != id %}
            <form method="post" action="{{url_for('request', post_id=post.post_id)}}">
                {{ form.csrf_token }}
                {{ form.userid(value=post.user_id) }}
                {{ form.message }}
                {{ form.submit(class="post-button")}}
            </form>
            {% else %}
            <form method="post" action="{{url_for('show_detail', post_id=post.post_id)}}">
                {{ form.csrf_token }}
                {{form.submit(class="delete-button")}}
            </form>
            {% endif %}
        </footer>
    <!-- メッセージ欄 -->
    {% else %}
    <h1 class="chat-title">チャット</h1>
    <div class="chat-container">
        <!-- メッセージ表示エリア -->
        <div class="messages">
            {% for message in messages %}
                <div class="message {% if message.user.username == current_user.username %}self{% else %}other{% endif %}">
                    <p>{{ message.message }}</p>
                    <small>{{ message.user.username }} - {{ message.timestamps }}</small>
                </div>
            {% endfor %}
        </div>

        <!-- 入力フォーム -->
        <form class="form-container" method="post" action="{{url_for('message', post_id=post.post_id)}}">
            {{ form.csrf_token }}
            <input type="text" name="userid" value="{{ id }}" hidden>
            {{ form.message(class_='form-control', placeholder='あいさつ・集合日時・場所などを入力...') }}
            <input type="submit" class="form-button" value="送信">
        </form>
    </div>
    {% endif %}
    
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
