<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduShare投稿画面</title>
    <link href="../static/css/post.css" rel="stylesheet">
</head>
<body>
    <!-- ヘッダー -->
    <header>
        <div class="header-content">
            <span class="header-title">教材を投稿</span>
            <button class="close-button" onclick="window.history.back();">×</button>
        </div>
    </header>

    <main>
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="photo">{{ form.photo.label }}</label><label style="color: #FF5A2A;">［必須］</label><br>
                {{ form.photo }}<br>
            </div>
    
            <div class="form-group">
                <label for="item_name">{{ form.item_name.label }}</label><label style="color: #FF5A2A;">［必須］</label><br>
                <textarea id="item_name" name="item_name" class="form-control" rows="3" value="" maxlength="100" minlength="1" placeholder="教材名を入力してください..." required></textarea><br>
            </div>

            <div class="form-group">
                <label for="post_text">{{ form.post_text.label }}</label><br>
                <textarea id="post_text" name="post_text" class="form-control" rows="5" value="" maxlength="100" minlength="1" placeholder="コメントを入力してください..." required></textarea><br>
            </div>
    
            <div class="form-group">
                <label for="category">{{ form.category.label }}</label><label style="color: #FF5A2A;">［必須］</label><br>
                {{ form.category(class_="form-control") }}<br>
            </div>

            <div class="form-group">
                <label for="Subject">{{ form.Subject.label }}</label><label style="color: #FF5A2A;">［必須］</label><br>
                {{ form.Subject(class_="form-control") }}<br>
            </div>
    
            <div class="form-group">
                <label for="genre">{{ form.genre.label }}</label><label style="color: #FF5A2A;">［必須］</label><br>
                {{ form.genre(class_="form-control") }}<br>
            </div>
    
            <div class="form-group">
                <label for="condition">{{ form.condition.label }}</label><label style="color: #FF5A2A;">［必須］</label><br>
                {{ form.condition(class_="form-control") }}<br>
            </div>
    
            <footer>
                <button class="post-button" type="submit">投稿</button>
            </footer>
        </form>
    </main>
    

    <!-- フッター -->
    <footer>
        <button class="post-button" type="submit">投稿</button>
    </footer>
</body>
</html>
