<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投稿画面</title>
    <!-- <link href="../static/css/style2.css" rel="stylesheet"> -->
</head>
<body>
    <h2>投稿</h2>
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="">
        {{ form.csrf_token }}
        <p>
            {{ render_field(form.item_name) }}<br>
            {{ render_field(form.category) }}<br>
            {{ render_field(form.genre) }}<br>
            {{ render_field(form.condition) }}<br>
            {{ render_field(form.post_text) }}<br>
            {{ render_field(form.submit) }}<br>
        </p>
    </form>
</body>
</html>
